/* Home.css */
:root {
  --color-white: #fff;
  --color-gray1: #9fb3b7;
  --color-gray2: #d9d9d9;
  --color-blue1: #205469;
  --color-blue2: #6a9e9e;
  --color-green1: #799f73;
  --color-green2: #94b290;
}

h2 {
  text-align: center;
  color: var(--color-white);
}

h5 {
  color: var(--color-white);
}

section {
  padding: 20px;
  margin: 20px;
}

.button {
  background-color: var(--color-blue2) !important;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  width: 210px;
}

.button:hover {
  background-color: var(--color-blue1) !important;
}

.button-search {
  background-color: var(--color-blue2) !important;
  margin-left: 15px !important;
}

.button-search:hover {
  background-color: var(--color-blue1) !important;
}

#actions {
  display: flex;
  justify-content: center;
}

.action-item {
  flex: 1;
  margin: 10px;
}

section#services,
section#reviews {
  background-color: var(--color-blue2);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 798px) {
  #actions {
    display: flex;
    flex-direction: column;
  }
  .action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 461px) {
  h2 {
    font-size: 2.5rem;
  }
}
