.card {
  height: 100%;
}

.carousel {
  padding: 20px 0;
}

@media (max-width: 940px) {
  .carousel-item .row {
    display: flex;
    justify-content: center;
  }

  .carousel-item .col-md-4 {
    width: 45%; /* Ajusta a largura dos cards */
    margin: 5px; /* Espaçamento entre os cards */
  }
}

@media (max-width: 768px) {
  .carousel-item .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-item .col-md-4 {
    width: 90%;
    margin: 10px auto;
  }
}

/* Para garantir centralização em todas as resoluções */
.carousel-item .row {
  margin: 0 auto;
}
