/* Definindo as cores principais */
:root {
--color-white: #fff;
--color-gray1: #9FB3B7;
--color-gray2: #d9d9d9;
--color-blue1: #205469;
--color-blue2: #6a9e9e;
--color-green1: #799f73;
--color-green2: #94b290;
  }


/* Modal Overlay */
.modal-overlay {
  position: relative;
  min-height: 80vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Conteúdo do Modal */
.modal-content {
  background-color: var(--background-color);
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Container principal */
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 100px;
}

/* Caixa de login */
.content2 {
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%;
  text-align: center;
  background-color: linear-gradient(to-right, #94b290, #205469);
}

/* Cabeçalho do Modal */
header h2 {
  font-size: 24px;
  color: var(--color-green1);
  margin-bottom: 20px;
}

/* Botões do Modal */
.modal-buttons {
  margin-bottom: 20px;
}

.modal-buttons button {
  background-color: var(--color-blue1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-buttons button:hover {
  background-color: var(--color-blue2);
}

footer {
  background-color: var();
  padding: 10px 0;
  margin-top: 20px;
  border-radius: 8px;
}
