.lista-depoimentos {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  padding: 50px 0;
}

.card_dep {
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card_dep:hover {
  border-color: #205469;
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 352px) {
  .lista-depoimentos {
    padding: 20px 10px;
  }
}
