.footer {
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
    flex-wrap: wrap;
  }
  
  .footer-column li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff; 
    text-transform: uppercase;
  }
  .footer-column {
    list-style-type: none;
    padding: 0;
    margin: 0 20px;
  }
  
  .footer-column li {
    margin-bottom: 10px;
  }
  
  .footer-column a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
  }
  
  .footer-column a:hover {
    color: #0056b3;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
    width: 100%;
  }
  
  .footer-bottom img {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-column {
      margin: 20px 0;
    }
  }
  